.deleteIcon {
  visibility: hidden;
}

.tableRow:hover {
  .deleteIcon {
    visibility: visible;
  }
}

div .tableContainer {
  width: 100%;
  overflow-x: visible;
}

th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .15);
}
