@import '../shared/shared.scss';

.addUserForm {
  display: flex;
  justify-content: space-between;
  margin: 45px 140px;
}

.addUserForm input:focus {
  border: 1.5px solid $primary;
  outline: none;
}

.formContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
}

.formPart {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.formContainer > hr {
  border: 1.5px solid $light-gray;
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 280px);
}
