@import '../shared/shared.scss';

.breadcrumb {
  background-color: $menu-selected;
  display: flex;
  padding: 8px 50px;
}

.breadcrumb > a:first-child i {
  color: $primary;
}

.breadcrumb > a:last-child span:hover {
  color: $primary;
  text-decoration: underline;
}

.link {
  cursor: pointer;
  padding-right: 5px;
}

.link span {
  margin-left: 5px;
  text-transform: capitalize;
}
