@import '../shared/shared.scss';

.formHelp {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
}

.help {
  align-items: center;
  display: flex;
  margin-top: 15px;
}

.help i {
  color: $primary;
  font-size: 60px;
  margin-right: 10px;
}

.help p {
  color: $font;
  margin: 0;
}

.helpSession {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.helpSession span {
  color: $primary;
  font-size: 22px;
}
