@import '../shared/shared.scss';

.category {
  color: $font;
  font-size: 24px;
  font-weight: bold;
  margin-top: -3px;
}

.categoryContainer {
  background-color: #BAEBE1;
  display: flex;
  padding: 35px 50px;
}

.categoryDescription {
  display: flex;
  flex-direction: column;
}

.categoryIcon {
  color: $category-icon-green;
  font-size: 40px;
  margin-right: 25px;
}

.categoryLabel {
  color: $grey-font;
  font-size: 14px;
}

.listCategory {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 60px;
}
