@import '../shared/shared.scss';

.logo {
  align-items: center;
  background-color: $logo-green;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  height: 36px;
  justify-content: center;
  margin-right: 10px;
  width: 36px;
}

.logoSquare {
  border: 2px #fff solid;
  border-radius: 2px;
  color: #fff;
  height: 20px;
  text-align: center;
  width: 20px;
}
