@import '../shared/shared.scss';

.deleteIcon {
  visibility: hidden;
}

.highlighted {
  color: $primary;
}

.tableRow {
  margin: 0 50px;
}

.tableRow:hover {
  .deleteIcon {
    visibility: visible;
  }
}
