div .tableContainer {
  overflow-x: visible;
  width: 100%;
}

.tableContainer {
  box-sizing: border-box;
  padding: 0 50px;
  width: 100%;
}

.tableRow th {
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .15);
  font-weight: bold;
  margin: 0 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

tr:nth-child(2n) {
  background-color: #F8F8F8;
}

tr:hover {
  background-color: #E3E3E3;
}
