.inputContainer {
  align-items: center;
  display: flex;
}

.inputContainer > input[type=checkbox],
.inputContainer > input[type=radio] {
  margin: 0 5px 0 0;
}

.multiFieldContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.multiFieldContainer div {
  display: flex;
  justify-content: space-between;
}

.multiFieldContainer > span {
  font-weight: 500;
}
